PORT=3000
ADMIN_API_KEY=
SALLA_CLIENT_ID=
SALLA_CLIENT_SECRET=
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=salla_sync
SALLA_UPDATE_CONCURRENCY=5
SALLA_RETRY_COUNT=3
SALLA_RETRY_DELAY_MS=500
