PORT=3000
ADMIN_API_KEY=
SALLA_CLIENT_ID=
SALLA_CLIENT_SECRET=
DATABASE_URL= postgresql://postgres:postgres@ps-salla-syncer-db:5432/ps_salla_syncer_db
SALLA_UPDATE_CONCURRENCY=5
SALLA_RETRY_COUNT=3
SALLA_RETRY_DELAY_MS=500
